<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Listar Funcionários</title>
</head>
<body>
    <%- include('../partials/header'); %>
    <main class="main-listar-paciente py-4">
        <h4 class="text-center mb-4">Lista de Pacientes</h4>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Email</th>
                        <th scope="col">Senha</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Data Nascimento</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">CEP</th>
                        <th scope="col">Logradouro</th>
                        <th scope="col">Nº</th>
                        <th scope="col">Compl.</th>
                    </tr>
                </thead>
                <tbody>
                    <% listaPacientes.forEach(function(paciente){ %>
                        <tr>
                            <th scope="row"><%= paciente.nome %></th>
                            <td><%= paciente.cpf %></td>
                            <td><%= paciente.email %></td>
                            <td><%= paciente.senha %></td>
                            <td><%= paciente.telefone %></td>
                            <td><%= paciente.data_nascimento %></td>
                            <td><%= paciente.sexo %></td>
                            <td><%= paciente.cep %></td>
                            <td><%= paciente.logradouro %></td>
                            <td><%= paciente.numero %></td>
                            <td><%= paciente.complemento %></td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>